@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode */
.light-mode {
  background-color: #ffff;
  color: #201e20;
}

/* Dark Mode */
.dark-mode {
  background-color: #201e20;
  color: #fff;
}

ion-icon {
  font-size: 2rem;
}

.toggle-icon-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}

.hero {
  position: relative;
}

.youtube-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}